<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>MEAN STACK DEVELOPER| MINAL SHETTIGAR</title>
    {% include "all_css.html" %}
  </head>
  <body>
    <main class="view">
      <div class="content">
        <div class="deco">
          <p class="deco__text">One sentence description about myself/p>
        </div>
        <header class="codrops-header">
          <div class="codrops-links">
            <a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/StackMotionHoverEffects/" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
            <a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=30460" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
          </div>
          <p class="codrops-header__info">telekinetic franchise<br/>hot water<br/>cryptography<br/>pants dance</p>
          <span class="codrops-header__deco">hitherto</span>
          <h1 class="codrops-header__title">Minal Shettigar</h1>
          <p class="codrops-header__tagline">expanding bar menus</p>
          <nav class="demos">
            <span class="demos__text">Link to top three blog links or media links/span>
            <a class="demo demo--current" href="index.html">1</a>
            <a class="demo" href="index2.html">2</a>
            <a class="demo" href="index3.html">3</a>
          </nav>
        </header>
      </div>
      <button class="btn btn--menu">
        <svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
        <svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg>
      </button>
      <nav class="tabsnav tabsnav--vertical tabsnav--ander">
        <div class="tabsnav__item">
          <div class="tabsnav__bar"></div>
          <h3 class="tabsnav__title">About me</h3>
        </div>
        <div class="tabsnav__item">
          <div class="tabsnav__bar"></div>
          <h3 class="tabsnav__title">Work Experience</h3>
        </div>
        <div class="tabsnav__item">
          <div class="tabsnav__bar"></div>
          <h3 class="tabsnav__title">Projects</h3>
        </div>
        <!-- <div class="tabsnav__item">
          <div class="tabsnav__bar"></div>
          <h3 class="tabsnav__title">Skills</h3>
        </div>
        <div class="tabsnav__item">
          <div class="tabsnav__bar"></div>
          <h3 class="tabsnav__title">Contact</h3>
        </div> -->
      </nav>
      {% block content %}

      {% endblock %}
      <!-- <div class="tabscontent">
        <div class="tabscontent__item">
          <figure class="poster">
            <img class="poster__img" src="img/img1.jpg" alt="Poster 1"/>
            <figcaption class="poster__caption">
              <h2 class="poster__title">wild<br/>corn</h2>
              <p class="poster__deco">nothing lost</p>
              <div class="poster__box"></div>
              <span class="poster__number">01</span>
            </figcaption>
          </figure>
        </div>
        <div class="tabscontent__item">
          <figure class="poster">
            <img class="poster__img" src="img/img1.jpg" alt="Poster 1"/>
            <figcaption class="poster__caption">
              <h2 class="poster__title">blue<br/>gun</h2>
              <p class="poster__deco">fingerpaint</p>
              <div class="poster__box"></div>
              <span class="poster__number">02</span>
            </figcaption>
          </figure>
        </div>
        <div class="tabscontent__item">
          <figure class="poster">
            <img class="poster__img" src="img/img1.jpg" alt="Poster 1"/>
            <figcaption class="poster__caption">
              <h2 class="poster__title">home<br/>maze</h2>
              <p class="poster__deco">binary sun</p>
              <div class="poster__box"></div>
              <span class="poster__number">03</span>
            </figcaption>
          </figure>
        </div>
        <div class="tabscontent__item">
          <figure class="poster">
            <img class="poster__img" src="img/img1.jpg" alt="Poster 1"/>
            <figcaption class="poster__caption">
              <h2 class="poster__title">blue<br/>gun</h2>
              <p class="poster__deco">fingerpaint</p>
              <div class="poster__box"></div>
              <span class="poster__number">04</span>
            </figcaption>
          </figure>
        </div>
        <div class="tabscontent__item">
          <figure class="poster">
            <img class="poster__img" src="img/img1.jpg" alt="Poster 1"/>
            <figcaption class="poster__caption">
              <h2 class="poster__title">home<br/>maze</h2>
              <p class="poster__deco">binary sun</p>
              <div class="poster__box"></div>
              <span class="poster__number">05</span>
            </figcaption>
          </figure>
        </div>
        <button class="btn btn--back"><svg class="icon icon--caret"><use xlink:href="#icon-caret"></use></svg></button>
      </div> -->
    </main>


<!--     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Minal Shettigar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
 -->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "all_js.html" %}
  </body>
</html>
